/* Parte Geral*/
*{
    margin: 0;  
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.conteiner{
    
    width: 80%;
    margin: auto;
    
}

.btn-orange {
    background-color: orangered;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}
/*Fim Geral*/

/*Inicio Header*/
.header{
    background-color: #232323;
    width: 100%;
    height: 80px;
    border-bottom: solid orangered 2px;
}

.header h1{
    float: left;
    color: white;
}

.header li{
    display: inline-block;
    padding: 6px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #575555;         
}

.header ul{
    list-style: none;
    float: right;
  
}

.header ul li a{
    text-decoration: none;
    color: white;
}

.header h1, .header ul{
    margin-top: 20px;
}

.header .text-orange{
    color: orangered;
    font-weight: bold;
}
/*Fim Header*/

/*Inicio Banner*/
.banner {
    width: 100%;
    height: 400px;
    text-align: center;
    background-image: url('./img/banner-fundo.jpeg');
    background-size: cover;
}

.banner h1 {
    padding-top: 100px;
    font-size: 40px;
    font-weight: lighter;
    color: orangered;
}

.banner h3 {
    font-size: 25px;
    font-weight: lighter;
    margin-top: 15px;
    color: #807d7d;
}
/*Fim Banner*/

/*Inicio Novidades*/
.news {
    width: 100%;
    height: 80px;
    background-color: #232323;
    text-align: center;
}

.news button {
    margin-top: 22px;
}
/*Fim Novidades*/

/*Inicio Box*/

.box{
    text-align: center;
}
.box-item {    
    display: inline-block;
    width: 33%;    
}
.box-item img {
    width: 100px;
    margin-top: 35px;
}
.box-item h3, .box-item p{
    margin-top: 15px;
}

/* Inicio Box pagina sobre */

.boxSobre {
    text-align: center; 
    width: 100%;
    height: 400px;  
    background-image: url('./img/banner-fundo.jpeg');
    background-size: cover; 
}

.box-item-sobre {    
    display: inline-block;
    width: 300px;
    height: 300px; 
    background-color: rgb(209, 206, 206);   
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    border-bottom: solid orangered 2px;
    
}

.box-item-sobre h1 {
    color: black;
    font-size: 25px;
    margin-bottom: 30px; 
    margin-top: 5px;     
}

.box-item-sobre h2 {
    color: orangered;
    font-size: 18px;
    font-weight: lighter;
    text-align: justify;
    margin: 5px;
}

.news h1 {    
    padding-top: 22px;
    color: white;
    font-size: 30px;        
}
/* Fim Box pagina sobre */


/* Inicio box squad */

.boxSquad{
    text-align: center; 
    background-color: black;   
    border-top: solid orangered 1px;
    border-bottom: solid orangered 1px;
    height: 260px;
    }

.box-item-squad {    
    display: inline-block;
    width: 15%; 
    color: white;
    margin: 35px;
}

/* Fim box squad */

.BoxTexto h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.BoxTexto h2 {
    text-align: justify;
    margin-bottom: 20px;
    font-weight: lighter;
}